<div class="container">
    <nav class="nav">
        <app-rules></app-rules>
        <app-history></app-history>
    </nav>
    <div class="row justify-content-center pt-5">
        <h3 class="h3">Kalaha Game</h3>
    </div>
    <div class="row pt-3">
        <div class="col-lg-12 kalaha-board">
            <div class="row" *ngIf="loaded">
                <div class="col-4 text-right">
                    <div class="row h-100">
                        <div class="col-6 align-self-center">
                            Player 1 <span *ngIf="active===0" class="green">&#11044;</span>
                        </div>
                        <div class="col-6 text-center align-self-center">
                            <span class="big-pit"> {{board?.northKalaha?.score}} </span>
                        </div>
                    </div>
                </div>
                <div class="col-4 pt-4 pb-2">
                    <table class="table">
                        <tbody>
                        <tr [ngClass]="{'disable-background': active !== 0}" class="mb-2">
                            <td class="pit" [ngClass]="{'cursor-disable' : active !== 0}"
                                *ngFor="let pit1 of board.northPits" (click)="sow(pit1,0)">
                                {{pit1.value}}
                            </td>
                        </tr>
                        <tr [ngClass]="{'disable-background' : active !== 1}" class="mt-2">
                            <td class="pit" [ngClass]="{'cursor-disable' : active !== 1}"
                                *ngFor="let pit2 of board.southPits.slice().reverse()" (click)="sow(pit2,1)">
                                {{pit2.value }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-4">
                    <div class="row h-100">
                        <div class="col-6 text-center align-self-center">
                            <span class="big-pit"> {{board?.southKalaha?.score}} </span>
                        </div>
                        <div class="col-6 align-self-center">
                            Player 2 <span *ngIf="active===1" class="green">&#11044;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn wooden" (click)="start()">Restart &#8635;</button>

</div>
<app-toasts></app-toasts>
